<body>
    <h1 id="jed">O Aplikacji</h1>

    <h2 id="dwa">
        Aplikacja ta zajmuje się prowadzeniem dziennika migrenowego przez użytkownika. 
        Żeby można było wypełniać dziennik należy się zarejestrować , następnie zalogować.
        <ul>
        Wbudowane są trzy opcje prowadzenia dziennika , czyli :
    </ul>
        <h5>
            <li>
            Odpowiedzi tak/nie
        </li>
    </h5>
    <h5>
        <li>
            Odpowiedzi numeryczne
        </li>
    </h5>
    <h5>
        <li>
            Opis
        </li>
    </h5>
    </h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 id="trzy">
        <ul>1. Odpowiedzi tak/nie:</ul>
        <h5><li>użytkownik ma możliwość odpowiadania na pytanie tak/nie,</li></h5>
        <h5><li>użytkownik ma możliwość dodania pytania tak/nie,</li></h5>
        <h5><li>zatwierdzenie wypełnionej ankiety generuje plik excel z pytaniami oraz odpowiedziami.</li></h5>
    </h2>
    <br>
    <h2 id="cztery">
        <ul>2. Odpowiedzi numeryczne:</ul>
        <h5><li>użytkownik ma możliwość odpowiadania na pytanie numeryczne (cyfrowo) tzn. w skali [0 - x],</li></h5>
        <h5><li>użytkownik ma możliwość dodania pytania z wybraną przez siebie skalą,</li></h5>
        <h5><li>zatwierdzenie wypełnionej ankiety generuje plik excel z pytaniami oraz odpowiedziami.</li></h5>
    </h2>
    <br>
    <h2 id="pieć">
        <ul>3. Opis:</ul>
        <h5><li>użytkownik może swobodnie opisać swoje dzisiejsze odczucia co do bólu lub samopoczucia.</li></h5>
        <h5><li>zatwierdzenie wypełnionego opisu generuje plik excel z opisem.</li></h5>
    </h2>

</body>