<body>
    <div class="Head">
        <h2>Witaj <b id="username">{{username}}</b> w ankiecie , która pomoże Ci w prowadzeniu dziennika migrenowego.</h2>
        <br>
        <h3>Wybierz jedną z trzech opcji ankiety , która najbardziej Ci odpowiada :</h3>
    </div>
    <div class="body">

        <div>
            <button id="yesno" type="submit" (click)="yesno()">Odpowiedzi tak lub nie</button>
        </div>
        <div>
            <button id="numeric" type="submit" (click)="numeric()">Odpowiedzi numeryczne</button>
        </div>
        <div>
            <button id="description" type="submit" (click)="descriptions()">Opis</button>
        </div>
    </div>
</body>