<div class="toolbar" role="banner">
  <div id="Line">
  </div>
  <div id="LineComponents">
  <!--Email Button-->
  <a target="_blank" rel="noopener" href="https://poczta.o2.pl/zaloguj">
  <input 
    @fade
    id="mail" type="image" alt=""
    width="70"
    alt="Mail"
    title="E-Mail"
    src="/assets/icons/email.png"
  />
  <label id="email-label">E-MAIL</label>
</a>

<!--Registration Button-->
<a  rel="noopener" href="/register">
  <input 
    @fade
    id="registration" type="image" alt="Login"
    width="70"
    alt="Reg"
    title="Register"
    src="/assets/icons/register.png"
  />
  
  <label id="registration-label">REGISTRATION</label>
</a>
<!--Login Button-->
<a  rel="noopener" href="/login">
  <input 
    @fade
    id="login" type="image" alt="Login"
    width="70"
    alt="Reg"
    title=login
    src="/assets/icons/login.png"
  />
  <label id="login-label">LOGIN</label>
</a>

<!--Home Button-->
<a  rel="noopener" href="/home">
  <input 
    @fade
    id="home" type="image" alt="Login"
    width="70"
    alt="Hom"
    title="Home"
    src="/assets/icons/home.png"
  />
  <label id="home-label">HOME</label>
</a>
</div>
</div>
<router-outlet></router-outlet>

